# Private key of your wallet (without 0x prefix)
PRIVATE_KEY='string'

# RPC URLs
POLYGON_AMOY_RPC_URL='string'
POLYGON_RPC_URL='string'

# API Keys for contract verification
POLYGONSCAN_API_KEY='string'